body {
    background-color: gainsboro;
    height: 100%;
}
td {
    color: #744843;
}
#glow:hover {
    text-align: center;
    font-weight: bold;
}
a:visited {
    color: aqua;
}
a:link {
    color: #744843;
}

/* mouse over link */
a:hover {
    color: red;
}
#love {
    border-top: 3px double #8c8b8b;
    color: black;
}
.container {
    top: 50%;
    left: 40%;
    display: block;
    width: 30%;
    padding: 10px;
    text-align: center;
    position: relative;
    transform: perspective(1px) translateY(-50%);
}
table {
    margin: 0 auto;
}
#out {
    background-image: url(https://heavyeditorial.files.wordpress.com/2016/05/harambe-22.jpg?quality=65&strip=all&strip=all);
    z-index: -1;
    height:500px;
}
.aboutmetable {
    border: 1px solid black;
    text-align: center;
    border-spacing: 1px;
    padding: 3px;
    color: black;
}
#slideshow {
    position: relative;
    height: 350px;
}
#slideshow IMG {
    position: absolute;
    top:0;
    left:0;
    z-index: 8;
}
#slideshow IMG.active {
    z-index:10;
}
#slideshow IMG.last-active {
    z-index:9;
}