body {
    background-color: lightgray;
}
#searchbox {
    padding:8px 15px;
    border:0px solid #dbdbdb;
    color: transparent;
}
/*What color is the Search button*/
#searchbutton {
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
/*What color is the Search button when you hover over it*/
#searchbutton:hover  {
    background-color:#fafafa;
    color:#207cca;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form {
    position: fixed;
    top: 50%;
    bottom: 50%;
    width: auto;
    height: auto;
}
#actionbar {
    background-image: url(https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg);
    color: lightgrey;/*was once white*/
    font-size: 25px;
    
}
th, td {
    border: 1px solid #12C0CF;
}
th {
    background-color: #2EE42E;
    color: black;
}
td:hover {
    background-color: cornsilk;
    text-align: center;
    font-weight: bold;
}
a:visited {
    color:aliceblue;
}
/*What color is the link normally*/
a:link {
    color: white;
}
/* mouse over link */
a:hover {
    color: deeppink;/*was once deeppink*/
}

::-webkit-input-placeholder { /* Chrome */
    color: #207cca;
    transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #207cca;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #207cca;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #207cca;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}
